// Theme base

// Primary colors
$primary-050: #F7F7F7;
$primary-100: #EEEEEE;
$primary-200: #E3E3E3;
$primary-300: #D1D1D1;
$primary-400: #ACACAC;
$primary-500: #8B8B8B;
$primary-600: #646464;
$primary-700: #515151;
$primary-color: #333333;
$primary-900: #131313;

// Main colors
$main-050: #E6F6EE;
$main-100: #C2E9D5;
$main-200: #9BDBBA;
$main-300: #6FCE9F;
$main-400: #4AC38B;
$main-500: #16B876;
$main-600: #0CA96B;
$main-color: #00915A;
$main-800: #008552;
$main-900: #00653C;

// Secondary colors
$teal-color: #29B8B0;
$white-color: #FFFFFF; // highlight
$dark-color: #595959;
$light-color: #E9E9E9;
$grey: #4a4a4a;
$mid-grey: #AAAAAA;
$lighter-grey: #FAFCFD;
$soft-grey: #e0e0e0;
$light-soft-grey: #FAFAFA;
$black-active: #212121;
$black-inactive: #757575;
$border-grey: #CCCCCC;
$grey-dark: #666666;

// Gradient colors
$gradient-0: #14DE2D;
$gradient-1: #14C762;
$gradient-2: #14BC7D;
$gradient-3: #1CBA91;
$gradient-4: #2DB7BA;

$light-lime: #15DE2E; // gradient-0 ?
$light-teal: #17BC84; // gradient-2 ?
$light-blue: #2DB7B9; // gradient-4 ?
$light-yellow: #F9F3A9;

// Extras?
$blue-color: #3f8ff7;
$red-color: #e23c39;
$orange-color: #F5A623;
$green-color: #72c140;
$yellow-color: #f0af41;

// Sizes
$content-width: 900px;

:export {
  mainColor: $main-color;
  mainColorDark: $main-900;
  primaryColor: $primary-color;

  lightGreen: $gradient-0;
  lightLime: $light-lime;
  lightTeal: $light-teal;
  lightBlue: $light-blue;
  tealColor: $teal-color;

  grey: $grey;
  midGrey: $mid-grey;
}
