.cookies-container {
  padding-top: 60px;
  display: flex;
  max-width: 900px;
  margin: 0 auto;

  .cookies-side-menu {
    flex: 0 1 300px;
    overflow: auto;
    border-right: 1px solid #e8e8e8;
    left: 0;
  }

  .cookies-nested-menu {
    &.selected {
      border-right: 3px solid #00A97B;
    }
  }

  .bottom-btn {
    text-align: center;
    border-top: 1px solid #e8e8e8;
    cursor: pointer;
  }

  .icon {
    width: 20px;
    margin-right: 10px;
  }

  .cookies-content {
    padding: 0 30px;
    flex: 1;
    overflow: auto;
  }
}
