.docs-container {
  position: relative;
  height: 100vh;
  padding-top: 160px;
  padding-bottom: 60px;
  margin: -160px auto 0px;

  .docs-wrapper {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 70px;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      height: auto;
    }
  }

  .docs-side-menu {
    flex: 0 1 260px;
    overflow: auto;
    border-right: 1px solid #e8e8e8;
    left: 0;
    padding-top: 40px;
  }

  .docs-nested-menu {
    padding-left: 50px;

    &.selected {
      color: #00A97B !important;
      border-right: 3px solid #00A97B;
      background-color: #d1e8de;
    }
  }

  .docs-content-wrapper {
    flex: 1;
    overflow: auto;
    @media only screen and (max-width: 600px) {
      margin-top: 20px;
      border-top: 1px solid $soft-grey;
      min-height: 200px;
    }

    .docs-content {
      padding: 30px 0px 30px 40px;
      min-height: 100%;
      @media only screen and (max-width: 600px) {
        padding: 20px;
      }

      .topic-container {
        .topic-row {
          display: flex;
          position: relative;
          padding-top: 70px;

          @media only screen and (max-width: 600px) {
            flex-direction: column-reverse;
          }

          .topic-left {
            flex: 1;

            .getting-started-link {
              img {
                margin-left: 10px;
              }
            }
          }

          .topic-right {
            flex: 1;

            img {
              max-width: 300px;
              padding-left: 20px;
              @media only screen and (max-width: 600px) {
                padding: 20px;
                width: 100%;
              }
            }

            .overview-knowledge-container {
              background-color: $soft-grey;
              text-align: center;
              border-radius: 8px;
              padding: 30px;
              max-width: 300px;
              height: 400px;
            }
          }
        }

        .docs-link {
          color: inherit;
          cursor: pointer;
          text-decoration: underline;
          display: flex;
        }

        ol {
          li {
            font-weight: 300;
          }
        }

        ul {
          margin: 10px 0;

          li {
            font-weight: 300;
          }
        }

        img {
          max-width: 500px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
        }

        p {
          strong {
            font-weight: 500;
          }
        }

        pre {
          display: inline-block;
          margin: 0 3px;
          background: rgba(27, 31, 35, .05);
          // color: $white-color;
          font-size: .9em;
          font-weight: 200;
          padding: 0px 8px;
          border-radius: 5px;

          &.big {
            padding: 15px 8px;
            margin: 10px 0;
            word-spacing: normal;
            white-space: pre-wrap;
            word-break: normal;
            width: 100%;
            overflow: auto;
            line-height: 1.4em;
          }
        }

        table {
          display: block;
          overflow: auto;
          width: 100%;
          border-collapse: collapse;
          border-spacing: 0;
          font-size: .9em;

          th {
            border: 1px solid #dfe2e5;
            padding: 6px 13px;
            font-weight: 600;
          }

          tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;

            &:nth-child(2n) {
              background-color: #f6f8fa;
            }
          }

          td {
            border: 1px solid #dfe2e5;
            padding: 6px 13px;
          }
        }
      }
    }
  }

  .large-td {
    min-width: 300px;
  }

  .color-word-red {
    color: $red-color
  }

  .color-word-blue {
    color: $blue-color
  }

  .bordered {
    border: 1px solid $soft-grey;
    padding: 6px 13px;
    font-size: .9em;
  }

  .margin-container {
    margin-left: 20px;
  }

}
