:root {
  --light-background: #FFFFFF;
  --primary-background: #035E86;

  --primary: #08597D;

  --secondary: #2DB7BA;

  --gray-100: #EEEEEE;
  --gray-300: #D1D1D1;
  --gray-500: #8B8B8B;
  --gray-600: #646464;
  --gray-800: #333333;

  --large-screen: 1280px;
  --medium-screen: 1024px;
  --small-screen: 640px;

  --font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 43px;
  line-height: 50px;
  font-weight: bold;
  color: var(--gray-800);
  margin: 0;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 28px;
  color: var(--gray-600);
  margin: 0;
}

button {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
