:root {
  --light-background: #FFFFFF;
  --primary-background: #035E86;

  --light-typography: #FFFFFF;
  --light-typography-disabled: #E9E9E9;

  --primary: #08597D;

  --secondary: #2DB7BA;
  --secondary-disabled: rgba(45, 183, 186, 60%);

  --gray-100: #EEEEEE;
  --gray-200: #E3E3E3;
  --gray-300: #D1D1D1;
  --gray-500: #8B8B8B;
  --gray-600: #646464;
  --gray-700: #515151;
  --gray-800: #333333;

  --warning-red: #FF0000;

  --large-screen: 1280px;
  --medium-screen: 1024px;
  --small-screen: 640px;

  --font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --shadow-dark: rgba(0, 0, 0, 30%);
}

h1 {
  font-size: 43px;
  line-height: 50px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

button {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
