
.securityTwoFa {
  .select {
    width: 100%;
  }

  .qrcode-container {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
    flex-wrap: wrap;

    .qrcode-scan {
      flex: 2;

      &.profile {
        flex: 1;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        align-items: center;
        max-width: 140px;
        height: auto;
        display: flex;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
    .qrcode-steps {
      flex: 3;
      padding-left: 10px;
      padding-top: 10px;
      font-size: 14px;
      color: $grey-dark;
      letter-spacing: 0.23px;
      line-height: 16px;
      line-height: 16px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      height: 140px;

      .step {
        padding-bottom: 20px; 
      }
    }
  }

  .update-button {
    width: 140px;
    margin-top: 10px;
  }

  .send-sms-btn {
    width: 100%;
    margin: 10px 0;
    font-weight: 400;
    background-color: $gradient-4;
    color: #fff;
  }

  .input {
    width: 100%;
  }

  .signup {
    max-width: 450px;
  }

  .confirmation-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
  }
}
