.pre-footer-section {
  padding: 30px 0;

  > .section-content {
    display: flex;
    text-align: left;
    letter-spacing: 0.34px;
    line-height: 24px;

    .pre-footer-header {
      color: #fff;
    }

    .pre-footer-email {
      position: relative;
      flex: 1;
      padding: 30px 60px 30px 0;
      border-right: 1px solid $grey;

      .pre-footer-form {
        margin-top: 40px;
        display: flex;

        .pre-footer-email-input {
          flex: 2;
        }
        .pre-footer-submit-button {
          flex: 1;
          margin-left: 20px;

          #subscribe-btn {
            color: $primary-color;
          }
        }
      }

      .pre-footer-checkbox {
        margin-top: 15px;

        .terms-checkbox {
          color: $white-color;
          font-weight: 300;
          font-size: 12px;
          letter-spacing: 0.34px;
          line-height: 20px;

          > a {
            color: $main-color;
          }
        }
      }

      .footer-fab {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $main-color;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -20px;
        bottom: -50px;
        z-index: 1;
        cursor: pointer;
      }

    }
    .pre-footer-pdf {
      flex: 0 1 270px;
      padding: 30px 0 30px 60px;

      .pdf-button {
        margin-top: 20px;
        color: $white-color;
        border: 1px solid $white-color;
      }
    }

    .disabled {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .pre-footer-section {  
    padding: 20px;

    > .section-content {
      flex-direction: column;

      .pre-footer-email {
        padding: 0px;
        border-right: none;
        
        .footer-fab {
          display: none;
        }
      }

      .pre-footer-pdf {
        padding: 0px;
        padding-top: 30px;
      }
    }
  }
}
