// TODO: Clean this up - check what is still used, and convert it into JSS

@import "styles/variables";

.navigation {
  position: sticky;
  top: 0;
  transition: 0.3s ease;
  width: 100%;
  color: white;
  background-color: #333333;
  z-index: 4;
  display: flex;
  flex-direction: column;

  &.contractible:not(.scrolled) {
    background-color: transparent;
  }

  &.contractible {
    position: fixed;
    top: unset;

    header:not(.scrolled) {
      padding: 25px 0 0 0;
      border-bottom: 1px solid white;

      .tabs {
        &.pretabs {
          display: flex;
          position: absolute;
          right: 0;
        }
      }

      .yetToLogIn {
        display: none;
      }
    }

    .container:not(.scrolled) {
      transform: translateY(63.5px);
      margin: 0;
    }

    .sub-container:not(.scrolled) {
      color: unset;
      background-color: transparent;
      transform: translateY(100%);
    }
  }

  header {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 0 50px;
    padding: 0;
    border-bottom: none;
    align-items: center;

    h1 {
      font-size: 24px;
      font-weight: 300;
      margin: 0;

      b {
        font-weight: 600;
      }
    }

    .img {
      display: inline-block;
      width: 150px;
      height: auto;
      margin-right: 30px;
    }

    .avatar-container {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: flex-end;

      .avatar {
        width: 28px;
        height: 28px;
        border: 2px solid white;

        &:hover {
          cursor: pointer;
        }
      }

      & span {
        margin-right: 16px;
      }
    }
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    transform: translateY(0);
  }

  .sub-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 50px;

    color: #333333;
    background-color: #e3e3e3;
    transform: translateY(0);
  }

  .tabs {
    position: relative;
    display: flex;
    align-items: center;

    &.pretabs {
      display: none;
    }

    .back-btn {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .space {
      flex: 1;
    }

    .sub-tab {
      font-size: 14px;
    }

    .selected {
      font-weight: 600;
    }

    .top-bar {
      position: absolute;
      z-index: 10;
      left: 16px;
      top: 0;
      height: 2px;
      width: 41.78px;
      background: currentColor;
      transition: left 0.2s ease, width 0.2s ease;
    }

    .bottom-bar {
      position: absolute;
      z-index: 10;
      left: 16px;
      bottom: 0;
      height: 2px;
      width: 41.78px;
      background: currentColor;
      transition: left 0.2s ease, width 0.2s ease;
    }
  }
}
