@import 'styles/variables';
$header-space: 50px;

.navigation {
  position: absolute;
  height: $nav-spacing;
  transition: .195s ease;
  min-width: 100%;
  color: white;
  background-color: transparent;
  z-index: 4;
  display: flex;
  flex-direction: column;

  header {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: $header-space 0;
    margin: 0 $header-space;
    border-bottom: 1px solid white;
    align-items: center;

    h1 {
      font-size: 24px;
      font-weight: 300;
      margin: 0;

      b {
        font-weight: 600;
      }
    }

    img {
      display: inline-block;
      width: 61px;
      height: auto;
      margin-right: 30px;
    }

  }

  .container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 $header-space;
  }

  .tabs {
    position: relative;
    display: flex;
    align-items: center;

    .tab {
      flex: 1;
      margin: 16px;
      transition: opacity .2s ease;
      white-space: nowrap;

      cursor: pointer;
    }

    .selected {
      font-weight: 600;
    }

    .top-bar {
      position: absolute;
      z-index: 10;
      left: 16px;
      top: 0;
      height: 2px;
      width: 41.78px;
      background: currentColor;
      transition: left .2s ease, width .2s ease;
    }
  }
}
