{
  "presets": [
    ["@babel/preset-env", {
      "corejs": 3,
      "useBuiltIns": "usage",
      "forceAllTransforms": true
    }],
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "plugins": ["babel-plugin-jsx-remove-data-test-id"]
    }
  },
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
