{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-hooks", "cypress"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "react/prop-types": "off",
    "react/display-name": "off",
    "semi": ["error", "always"],
    "quotes": ["error", "double", { "avoidEscape": true }],
    "quote-props": ["error", "as-needed"],
    "prefer-const": "error",
    "no-var": "error",
    "comma-dangle": ["error", "always-multiline"],
    "max-len": ["error", { "code": 120, "ignoreStrings": true, "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true }],
    "no-prototype-builtins": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": ["error", {
      "vars": "all",
      "args": "after-used",
      "varsIgnorePattern": "[_]",
      "ignoreRestSiblings": true
    }],
    "react/jsx-indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-object-literal-type-assertion": "off",
    "@typescript-eslint/member-delimiter-style": ["error", { "multiline": { "delimiter": "comma", "requireLast": true }}],
    "@typescript-eslint/member-ordering": ["error"],
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "overrides": [
    {
      "files": ["*.js"],
      "env": {
        "node": true
      },
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["cypress/*"],
      "env": {
        "es6": true,
        "jest": true,
        "cypress/globals": true
      }
    }
  ]
}
