.team-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0;

  .team-list-wrapper {
    .team-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      border: 1px solid $soft-grey;
      border-radius: 6px;

      table, th, td {
        text-align: left;
      }
      th {
        padding: 10px 20px;
        border-bottom: 1px solid $soft-grey;
        color: $mid-grey;
      }
      tr:not(:last-child) {
        border-bottom: 1px solid $soft-grey;
      }
      th, td {
        padding: 10px 20px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      .member-info {
        display: flex;
        flex-direction: column;
      }
      .member-name {
        font-weight: bold;
      }
      .auth-method {
        font-size: 13px;
        color: $mid-grey;
      }
      .member-role {
        padding: 10px 0;
      }
      .action-menu {
        padding: 0;
        text-align: center;
      }
    }

    .invite-member-actions {
      padding-top: 25px;
      padding-left: 20px;
      display: flex;
      align-items: center;
    }

    .invite-member-help {
      padding-left: 20px;
      padding-top: 7px;
      max-width: 250px;

      .invite-member-link {
        text-decoration: none;
        color: $main-500;
        display: inline-block;
      }
    }

    .invitation-form {
      display: flex;
      align-items: center;
      border: 1px solid $soft-grey;
      border-radius: 6px;
      flex-direction: row;
      padding: 10px 20px;
      margin-top: 20px;

      .send-invite-button {
        margin-right: 25px;
      }

      .form-input {
        padding-right: 20px;

        &.member-email {
          width: 315px;
        }
      }

      .form-field-container {
        width: inherit;
        padding-bottom: 0px;
      }
    }

    .team-input {
      width: 100%;
      min-width: 150px;
    }

    .select-icon {
      @media only screen and (max-width: 600px) {
        margin-right: 3px;
      }
    }
  }
}

@media only screen and (max-height: 600px) {
  .team-container {
    padding: 20px;
  }
}
