@keyframes fadeInOpacity {
  0% {
		opacity: 0.3;
  }
	100% {
		opacity: 1;
	}
}
@keyframes fadeTopOpacity {
  0% {
		opacity: 0.8;
  }
	100% {
		opacity: 1;
	}
}


.navigation {
  min-height: 100px;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 11;
  transition: all .25s ease-out;
  -webkit-transition: all .25s ease-out;
  animation-name: fadeTopOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .25s;

  .app-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    border: none;
    color: $white-color;
    flex-direction: column;
    height: 100px;

    .app-bar-wrapper {
      max-width: 900px;
      width: 100%;
      display: flex;
      flex-direction: inherit;
      position: relative;
    }

    .app-bar-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 40px 0px;
      transition: all .25s ease-out;
      -webkit-transition: all .25s ease-out;

      .user-button {
        color: $white-color;
        &:hover {
          background-color: transparent;
        }
      }
    }

    .left-container {
      width: 70%;
      z-index: 1;
      display: inherit;
      align-items: center;
      cursor: pointer;
      transition: all .25s ease-out;
      -webkit-transition: all .25s ease-out;

      .app-title {
        display: flex;
        transition: all .25s ease-out;
        -webkit-transition: all .25s ease-out;
        white-space: nowrap;

        > strong {
          text-transform: uppercase;
          margin-right: 10px;
          white-space: nowrap;
        }
      }
    }

    .menu {
      position: absolute;
      width: 100%;
      text-align: right;
      transition: bottom .25s ease-out, border .25s ease-out .25s;
      -webkit-transition: bottom .25s ease-out, border .25s ease-out .25s;
      display: flex;
      justify-content: flex-end;
    }

    .app-bar-menu {
      bottom: -40px;
      border-top: 1px solid rgba(255, 255, 255, .7);
      max-width: inherit;

      .login-signup-wrapper {
        display: flex;
      }

      button {
        color: #fff;
        font-weight: 300;
        height: 100%;
        border-top: 4px solid transparent;
        text-transform: capitalize;
        border-radius: 0;
        font-size: 18px;
        z-index: 1;

        &.selected,
        &:hover {
          background-color: transparent;
          border-color: #fff;
        }

        &.selected {
          font-weight: 400;

          .caret-icon {
            opacity: 1;
          }
        }
      }
    }

    .app-bar-submenu {
      bottom: -80px;
      font-size: 16px;
      transition: all .25s ease-out;
      -webkit-transition: all .25s ease-out;
      flex-direction: column;
      right: 0px;

      &.hidden {
        display: none;
      }

      .submenu-wrapper {
        max-width: 900px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: flex-end;
        position: relative;
        align-items: center;
        height: 40px;
      }

      button {
        font-size: 16px;
        color: #fff;
        padding: 8px 10px;
        min-width: 0px;
        border-radius: 0;
        border-bottom: 2px solid transparent;

        &.selected {
          background-color: transparent;
          font-weight: 400;
          border-color: $white-color;
        }
        &:hover {
          background-color: transparent;
          border-color: $white-color;
        }
        &.hidden {
          display: none;
        }
        &.disabled {
          opacity: .5;
        }
      }
    }

    button {
      font-weight: 300;
      height: 100%;
      text-transform: capitalize;

      .caret-icon {
        opacity: 0;
        position: relative;
        margin-right: -15px;
        margin-left: 5px;
      }
    }

    .user-details {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 16px;
      padding: 0px 5px;
      position: absolute;
      right: 0px;
      top: 0px;
      height: 100%;

      .user-name {
        margin-right: 20px;
      }

      div.user-avatar {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        image-rendering: -webkit-optimize-contrast;
        border: 1px solid #000;
        position: relative;
        z-index: 1;
        cursor: pointer;
      }
      img.user-avatar {
        border: 1px solid $white-color;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        z-index: 1;
        width: 28px;
        height: 28px;
      }
    }
  }

  &.is-opaque {

    .app-bar {
      .app-bar-header {
        padding: 30px 0px;

        .left-container {

          .app-title {
            font-size: 18px;
          }
        }
      }

      .user-details {
        border-top: 4px solid transparent;

        &.selected,
        &:hover {
          border-image: linear-gradient(to left, #2DB7BA 0%, #14BC7D 52%, #14DE2D 100%);
          border-image: -moz-linear-gradient(to left, #2DB7BA 0%, #14BC7D 52%, #14DE2D 100%);
          border-image-slice: 1;
        }
        .user-name {
          display: none;
        }
      }

      .app-bar-menu {
        height: 100%;
        bottom: 0px;
        border-top: none;
        transition: bottom .25s ease-out, border .15s ease-out 0s;
        -webkit-transition: bottom .25s ease-out, border .15s ease-out 0s;

        &.logged-in {
          padding-right: 38px;
        }

        button {
          &.selected,
          &:hover {
            border-image: linear-gradient(to left, #2DB7BA 0%, #14BC7D 52%, #14DE2D 100%);
            border-image: -moz-linear-gradient(to left, #2DB7BA 0%, #14BC7D 52%, #14DE2D 100%);
            border-image-slice: 1;
          }
        }
      }

      .app-bar-submenu {
        height: 60px;
        bottom: -60px;
        background-color: $soft-grey;
        transition: all .25s ease-out;
        -webkit-transition: all .25s ease-out;

        .submenu-wrapper {
          height: inherit;
        }

        &.transparent-submenu {
          background-color: transparent;
        }
        &.grey-submenu {
          background-color: #F3F3F3;
        }

        .back-navigation {
          display: flex;
          align-items: center;
          position: absolute;
          left: 0px;
          top: 15px;
          color: $primary-color;

          &:hover {
            cursor: pointer;
          }

          span {
            padding-left: 10px;
          }
        }

        button {
          border-bottom: 4px solid transparent;
          font-size: 16px;
          color: $primary-color;

          &.selected,
          &:hover {
            background-color: transparent;
            border-color: $primary-color;
            border-radius: 0px;
          }
        }

        &.hidden {
          display: none;
        }
      }
    }
  }
}

.sidemenu {
  min-width: 50vw;
  margin: 15px;

  .logged-in {
    margin-top: 40px;
  }

  div.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    border: 1px solid #000;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  img.user-avatar {
    border: 1px solid $white-color;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 28px;
    height: 28px;
  }
}

#nav-button {
  display: none;
  z-index: 10;
}

.sidemenu-app-title {
  padding: 0 10px;
}

@media (max-width: 875px) {
  .navigation {
    border-bottom: solid 1px $soft-grey;
    .app-bar {
      .app-bar-header {
        justify-content: flex-start;
      }

      .app-bar-menu {
        display: none;
      }
    }

    &.is-opaque {
      .app-bar {
        .app-bar-submenu {
          .back-navigation {
            display: none;
          }
        }
      }
    }
  }

  #nav-button {
    display: block;
  }
}

@media (max-width: 525px) {
  .left-container {
    flex-direction: column;
  }

  .navigation {
    &.is-opaque {
      .app-bar {
        .app-bar-header {
          .left-container {
            .app-title, .sidemenu-app-title {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .app-logo {
    max-width: 70%;
    max-height: 80%;
  }
}
