
.testdata-container {
  background-color: $light-soft-grey;
  position: relative;
  min-height: inherit;

  &.fallback-bg {
    background-color: $soft-grey;
  }

  > .testdata-content {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 40px;

    @media only screen and (max-width: 600px) {
      flex-direction: column-reverse;
      align-items: center;
      padding: 80px 20px;
    }

    .testdata-wrapper {
      flex: 1;
      padding-right: 60px;

      @media only screen and (max-width: 600px) {
        padding: 0 !important;
        width: 100%;
      }

      .testdata-list {
        background-color: $white-color;

        .testdata-header {
          height: 40px;
          padding: 15px 0px 15px 50px;
          display: flex;
          align-items: center;
          color: $mid-grey;
        }

        .testdata-item {
          min-height: 80px;
          padding: 20px 5px 20px 25px;
          border-top: 1px solid $light-color;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .testuser-content {
            display: inherit;
            align-items: inherit;

            .testuser-avatar {
              width: 38px;
              height: 38px;
              border-radius: 50%;
              overflow: hidden;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              image-rendering: -webkit-optimize-contrast;
              background-color: $light-blue;
              display: flex;
              justify-content: center;
              align-items: center;

              & > span {
                text-transform: uppercase;
                color: $white-color;
                font-size: 12px;
              }
            }

            .testuser-details {
              padding-left: 15px;

              .testuser-name {
                color: #000;
                font-size: 16px;
              }

              .testuser-account {
                font-size: 14px;
                color: $mid-grey;
                text-transform: uppercase;
              }
            }
          }
        }

        .testdata-footer {
          padding: 10px 18px 10px 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid $light-color;
          color: $primary-600;
          cursor: pointer;

          .add-test-user {
            text-decoration: underline;
          }
        }
      }

      .pagination {
        margin-top: 30px;
      }
    }

    .testdata-description {
      flex: 0 1 220px;
      text-align: left;
      @media only screen and (max-width: 600px) {
        text-align: justify;
      }
    }
  }

  .first-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    color: $primary-color;

    .first-app-wrapper {
      position: relative;

      .create-app-image {
        max-width: 445px;
        padding-bottom: 40px;
      }

      .image-placeholder {
        position: absolute;
        bottom: 40px;
        width: 206px;
        display: flex;
      }
    }

    .create-app-title {
      padding-bottom: 10px;
    }
    .create-app-subtitle {
      font-size: 18px;
      padding-bottom: 25px;
    }
  }

  .testdata-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
  }
}

.test-detail-container {
  background-color: $light-soft-grey;
  padding: 80px 0;
  @media only screen and (max-width: 600px) {
    padding: 40px 20px;
  }

  .detail-content {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    flex-direction: column;

    .detail-row {
      display: flex;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
      
      .left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        
        @media only screen and (max-width: 600px) {
          margin-bottom: 40px;
          width: 100%;
        }

        .left-container-avatar {
          flex: 3;
        }
        
        .left-container-button {
          flex: 1;
          margin-top: 20px;
          justify-content: flex-end;
        }

        button {
          width: 160px;
        }
        
        .test-user-avatar {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          overflow: hidden;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          image-rendering: -webkit-optimize-contrast;

          &.empty-avatar {
            border: 2px dashed $primary-400;
          }
        }

        .test-user-default {
          border: 2px dashed $primary-400;
          background-color: #D3D2D3;
          display: flex;
          justify-content: center;
        }
        
      }
    }

    .kpis-container {
      display: flex;
      flex: 1;
      justify-content: space-around;
      border: 1px solid $light-color;
      border-radius: 10px;
      padding: 20px;
      background-color: #fff;

      .kpi-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        .kpi-value {
          font-size: 24px;
          line-height: 2;
        }

        .kpi-label {
          color: $mid-grey;
        }
      }
    }

    .kpis-separator {
      border-bottom: 2px solid $light-color;
      margin: 40px 0px;
    }
    
    .detail-container {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .detail-block {
      margin-bottom: 20px;
      background-color: #FFFFFF;
      border-radius: 8px;
      border: 1px solid $light-color;
      flex: 2;

      &.basic {
        display: flex;
        border: none;
        @media only screen and (max-width: 600px) {
          flex-direction: column;
          background: none;
        }

        .detail-block-wrapper {
          flex-direction: column;

          @media only screen and (max-width: 600px) {
            padding: 20px;
          }
        }

        .user-info {
          flex: 2;
          background-color: $white-color;
          border: 1px solid $light-color;
          border-radius: 10px 0 0 10px;
          border-right: none;
          @media only screen and (max-width: 600px) {
            border-radius: 10px;
            border: 1px solid $light-color;
          }
        }

        .pass-info {
          flex: 1;
          background-color: $white-color;
          border: 1px solid $light-color;
          border-radius: 0 10px 10px 0;
          border-left: none;
          @media only screen and (max-width: 600px) {
            border: 1px solid $light-color;
            border-radius: 10px;
            margin-top: 20px;
          }
          .pass-toggle-button {
            min-width: 42px;
            width: 42px;
            margin-left: 10px;
          }
        }

        .password-row {
          display: flex;
          width: 100%;
          align-items: flex-start;
        }

        .separator {
          border-right: 1px solid $light-color;
          margin-top: 50px;
          margin-bottom: 10px;
          @media only screen and (max-width: 600px) {
            display: none;
          }
        }
      }

      .detail-block-header {
        height: 40px;
        padding: 15px 0px 15px 50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $light-color;
        color: $mid-grey;
        justify-content: space-between;

        @media only screen and (max-width: 600px) {
          padding: 0 20px;
        }

        & > span:first-child {
          flex: 2;
        }

        & > span:last-child {
          flex: 1;

          &.balance {
            text-align: right;
            padding-right: 50px;

            @media only screen and (max-width: 600px) {
              display: none;
            }
          }
        }
      }

      .detail-block-wrapper {
        padding: 30px 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media only screen and (max-width: 600px) {
          padding: 10px 20px;
          flex-direction: column;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $light-color;
        }

        .detail-formfield {
          padding-bottom: 10px;
        }

        .user-info {
          display: flex;
          flex-direction: column;
          flex: 2;
          padding-right: 50px;
          border-right: 1px solid $light-color;
        }

        .pass-info {
          padding-left: 50px;
          @media only screen and (max-width: 600px) {
            border: 1px solid $light-color;
            border-radius: 10px;
            margin-top: 20px;
          }
        }

        .account-info {
          @media only screen and (max-width: 600px) {
            margin: 10px 0;
          }
          
          .account-iban {
            color: #000;
            font-size: 16px;
          }

          .account-name, .account-bic {
            color: $mid-grey;
          }
        }

        .account-detail {
          display: flex;
          align-items: center;
          padding-left: 20px;

          @media only screen and (max-width: 600px) {
            padding: 0;
          }

          &.disabled {
            opacity: 0.2;
            pointer-events: none;
          }

          .bank-account-link {
            padding-right: 10px;
            text-decoration: underline;
            cursor: pointer;
            text-align: center;
          }
        }
        .current-balance {
          @media only screen and (max-width: 600px) {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

.create-testuser-container {

  .create-testuser-wrapper {

    .create-testuser-input {
      width: 100%;
    }

    .testuser-password {
      + .required-symbol {
        position: relative;
        bottom: 10px;
      }
    }

    .create-testuser-actions {
      padding-top: 30px;
      display: flex;
      align-items: center;

      .create-testuser-submit {
        width: 120px;
      }

      .create-testuser-help {
        padding-left: 20px;

        .create-testuser-link {
          text-decoration: none;
          color: $main-500;
          display: inline-block;
        }
      }
    }

    .multiselect-details {
      max-height: 160px;
      overflow-y: scroll;
    }
  }

  .password-btn {
    min-width: 42px;
    width: 42px;
  }

  .auto-generate-btn {
    padding: 0px;
    margin: 0 10px;
  }
}

.transaction-list-container {
  background-color: $light-soft-grey;
  padding: 80px 0;
  @media only screen and (max-width: 600px) {
    padding: 40px 20px;
  }
  position: relative;
  min-height: inherit;

  .transaction-content {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    flex-direction: column;

    .transaction-iban {
      color: #9d9d9d;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    .transaction-block {
      margin-bottom: 20px;
      background-color: #FFFFFF;
      border-radius: 8px;
      border: 1px solid $light-color;
      flex: 2;

      .transaction-block-header {
        height: 40px;
        padding: 15px 0px 15px 50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $light-color;
        color: $mid-grey;
        justify-content: space-between;

        @media only screen and (max-width: 600px) {
          padding: 0 20px;
        }

        & > span:first-child {
          flex: 2;
        }

        & > span:last-child {
          flex: 1;

          &.balance {
            text-align: right;
            padding-right: 50px;

            @media only screen and (max-width: 600px) {
              display: none;
            }
          }
        }
      }

      .transaction-block-wrapper {
        padding: 30px 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media only screen and (max-width: 600px) {
          padding: 10px 20px;
          flex-direction: column;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $light-color;
        }

        .transaction-info {
          @media only screen and (max-width: 600px) {
            margin: 10px 0;
          }

          .transaction-date {
            color: $grey;
          }
          .transaction-summary, .transaction-operation {
            color: $mid-grey;
          }
        }

        .transaction-amount {
          @media only screen and (max-width: 600px) {
            margin: 10px 0;
          }
        }
      }

      .transaction-text {
        color: $grey-dark;
        font-size: 16px;
      }
    }
  }

  .transaction-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
  }
}