
.multiselect-container {

  .multiselect-label {
    font-size: 14px;
    color: #999
  }

  .multiselect-panel {
    box-shadow: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;

    .multiselect-summary {
      padding: 0 16px 0 16px;
    
      &.summary-expanded {
        min-height: 0px;
      }
    }

    .summary-content {
      margin: 12px 0px;
    }

    .multiselect-details {
      padding: 8px 24px 8px;
    }

    .multiselect-form-control {
      width: 100%;
    }
  }
}
