.pop-message {
  .content-container {
    background-color: $white-color;
    color: black;
    font-weight: 300;
  }
  .success {
    color: $green-color;
  }
  .error {
    color: $red-color;
  }
  .info {
    color: $blue-color;
  }
  .warning {
    color: $yellow-color;
  }
  .icon {
    font-size: 10;
  }
  .icon-variant {
    opacity: 0.9;
    margin-right: 10px;
  }
  .content-message {
    display: flex;
    align-items: center;
  }
  .text-message {
    color: $dark-color;
  }
}
