version: 2.1
jobs:
  test_apisuite:
      working_directory: ~/apisuite
      docker:
        - image: circleci/node:12.13.1
      steps:
        - checkout
        - run:
            name: Build packages with docker-compose and push to registry
            command: |
              cd util
              chmod +x common.sh
              chmod +x run_tests.sh
              ./run_tests.sh

  build_apisuite:
      working_directory: ~/apisuite
      docker:
        - image: circleci/node:12.13.1
      steps:
        - checkout
        - run:
            name: Build packages with docker-compose and push to registry
            command: |
              sudo apt-get install ruby-full jq
              cd util
              chmod +x build_push_docker.sh
              ./build_push_docker.sh

  deploy_apisuite:
      machine:
        image: "true"
      steps:
        - run:
            name: Fix ssh could not resolve hotname
            command: |
              ssh-keyscan 206.189.118.141 >> ~/.ssh/known_hosts
        - add_ssh_keys:
            fingerprints:
              - "92:92:37:9c:7c:b4:e2:93:0a:f7:ac:f7:c6:74:b8:61"
        - run:
            name: Deploy Over SSH
            command: |
              ssh -o StrictHostKeyChecking=no root@206.189.118.141 "cd /apps/APISuite/util && docker-compose pull && docker-compose up -d && docker image prune --force"
workflows:
  version: 2
  build:
    jobs:
        - test_apisuite
        - build_apisuite:
            filters:
                branches:
                  only:
                    - develop
            requires:
                - test_apisuite
        - deploy_apisuite:
            filters:
                branches:
                  only:
                    - develop
            requires:
                - build_apisuite
