version: 2.1
executors:
  publisher:
    environment:
      IMAGE_NAME: erettozi/apisuite-client-sandbox:dev
    docker:
      - image: circleci/buildpack-deps:stretch

jobs:
 test:
    working_directory: ~/project/packages/apisuite-client-sandbox
    docker:
      - image: circleci/node:12.13.1
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run: 
          name: Install dependencies
          command: yarn install
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
      - persist_to_workspace:
          root: ~/project/packages/apisuite-client-sandbox
          paths:
            - packages/apisuite-client-sandbox

 build:
    executor: publisher
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: ~/project/packages/apisuite-client-sandbox
      - run:
          name: Build Docker Image
          command: docker build -t $IMAGE_NAME ~/project/packages/apisuite-client-sandbox
      - run:
          name: Archive Docker Image
          command: docker save -o ~/project/packages/apisuite-client-sandbox/image.tar $IMAGE_NAME
      - persist_to_workspace:
          root: ~/project/packages/apisuite-client-sandbox
          paths:
            - ./image.tar

 publish:
   executor: publisher
   steps:
     - attach_workspace:
         at: ~/project/packages/apisuite-client-sandbox
     - setup_remote_docker
     - run:
         name: Load Archived Docker Image
         command: docker load -i ~/project/packages/apisuite-client-sandbox/image.tar
     - run:
         name: Publish Docker Image to Docker Hub
         command: |
           echo "$DOCKER_PASSORD" | docker login -u "$DOCKER_USER" --password-stdin
           docker push $IMAGE_NAME

 deploy:
   machine: true
   steps:
     - run:
         name: Fix ssh could not resolve hotname
         command: |
           ssh-keyscan 206.189.118.141 >> ~/.ssh/known_hosts
     - add_ssh_keys:
         fingerprints:
           - "92:92:37:9c:7c:b4:e2:93:0a:f7:ac:f7:c6:74:b8:61"
     - run:
         name: Deploy Over SSH
         command: |
           ssh -o StrictHostKeyChecking=no root@206.189.118.141 "cd /apps/APISuite && docker-compose stop sandbox-client-dev && docker-compose up -d sandbox-client-dev"        

workflows:
 version: 2
 build_deploy:
   jobs:
     - test
     - build:
        filters:
          branches:
            only:
              - develop
        requires:
          - test
     - publish:
        filters:
          branches:
            only:
              - develop
        requires:
          - build
     - deploy:
        filters:
          branches:
            only:
              - develop
        requires:
          - publish