// Main styles

// Set the global 'box-sizing' state to 'border-box', and set the font's size for unit measurement purposes.
html {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body,
#root {
  background-color: #f7f8f9;
  height: 100%;
  min-width: 1024px;
  width: 100%;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  color: #424242;
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 1.7rem;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

input:read-only {
  background-color: #eeeeee;
}

.subtitle {
  color: #6f6f6f;
  font-size: 20px;
  font-weight: 300;
}

img {
  max-width: 100%;
}

@import "styles/variables";

.content-wrapper {
  margin: 0 auto;
  max-width: $container-width;
}

@import "components/FormField/styles.scss";
@import "utilities.css";
@import "style-guide.css";
