
// colors
$primary-600: #646464;
$primary-700: #515151;
$portal-color: #DCF6EC;
$sandbox-color: #E0F5F5;
$mp-color: #DDF4E0;
$sso-color: #FCEEDE;
$error-color: #FF1515;

// spacing
$nav-spacing: 60px;
$container-width: 1170px;

// product
$primary-product-color: #2DB7BA;
$secondary-product-color: #035E86;
$grdient-color: #1CBA91;
