[x-placement*=bottom] .arrowArrow {
  top: 0;
  left: 0;
  margin-top: -0.5em;
  width: 3em;
  height: 1em;

  &::before {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #000 transparent;
  }
}
.arrowArrow {
  position: absolute;
  font-size: 7;
  width: 3em;
  height: 3em;

  &::before {
    content: "";
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
  }
}

.tooltip {
  height: 100%;
}