.forgot-container {
  max-width: 500px;
  margin: auto;
  display: block;

  .forgot-wrapper {
    padding-top: 10px;

    .forgot-input {
      margin-top: 40px;
    }
  
    .forgot-send-button {
      margin: 0px 10px 20px 0;
    }
  
    .forgot-actions {
      padding-top: 15px;
  
       .forgot-back-button {
        margin: 0px 10px 20px 0;
      }
    }
  
    .forgot-no-account {
      .forgot-link {
        color: $main-500;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}


.recover-container {
  width: 100%;
  margin: 0 auto;

  .recover-wrapper {
    width: 100%;
    max-width: 500px;

    .recover-field {
      width: 100%;
    }
    .recover-submit {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .password-btn {
      min-width: 42px;
      width: 42px;
    }

    .auto-generate-btn {
      padding: 0px;
      margin: 0 10px;
    }

    .recover-no-account {
      .recover-link {
        color: $main-500;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .recover-done {
    margin: 40px 0;
  }

  .linear-progress {
    margin-top: 5px;
  }

  .linear-progress-label {
    font-size: 9px;
  }
}
