.home-container {
  width: 100%;
  text-align: center;
}

.section {
  padding: 80px 0;

  &.section-grey {
    background-color: $primary-100;
  }

  &.section-light-grey {
    background-color: $light-soft-grey;
  }

  &.section-dark-grey {
    background-color: $primary-color;
    color: $white-color;
  }

  .section-content {
    max-width: $content-width;
    margin: 0 auto;
  }
}
