.external-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0;

  .top-wrapper {
    display: flex;
    justify-content: space-between;

    .text-content {
      max-width: 450px;
    }
  }

  .kpi-container {
    border-radius: 5px;
    min-width: 210px;
    min-height: 120px;
    max-width: 250px;
    max-height: 140px;
    flex: 1;
    padding: 0 25px;
  
    .kpi-header {
      text-align: right;
  
      .kpi-title {
        font-weight: bold;
      }
  
      .kpi-subtitle {
        color: $primary-600;
        font-size: 12px;
      }

      .kpi-icon {
        color: $primary-color;
      }
    }
  
    .kpi-content {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
  
      .kpi-value {
        flex: 1;
        padding-left: 20px;
      }
    }
  }

  .resources-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid $soft-grey;
    border-radius: 6px;
    margin-top: 20px;

    table, th, td {
      text-align: left;
    }
    th {
      padding: 10px 20px;
      border-bottom: 1px solid $soft-grey;
      color: $mid-grey;
    }
    tr:not(:last-child) {
      border-bottom: 1px solid $soft-grey;
    }
    th, td {
      padding: 10px 20px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }

    .link-th {
      width: 17%;
    }

    .icon-th {
      width: 10%;
    }

    .resource-row {
      width: 100%;
    }
    .resource-info {
      display: flex;
      flex-direction: column;

      .resource-name {
        font-weight: bold;
      }
      .resource-description {
        font-size: 13px;
        color: $mid-grey;
      }
    }
    .external-link {
      padding: 10px 20px;
      width: 17%;
      text-decoration: underline;
    }
    .link-icon {
      padding: 0;
      text-align: center;
      width: 10%;
    }
  }
}

@media only screen and (max-height: 600px) {
  .external-container {
    padding: 20px;
  }
}
