
.activity-container {
  min-height: 100%;
  padding: 40px 0;
  background-color: $primary-050;
  
  .activity-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
  }

  .activity-header {
    display: flex;
    align-items: flex-end;
    
    .form-field-container {
      flex: 1;
      padding-bottom: 0;
    }
  
    .activity-input {
      max-width: 275px;
    }
  
    .kpi-wrapper {
      display: flex;
      justify-content: flex-end;
      flex: 2;

      .kpi-container {
        margin-left: 15px;
        padding: 10px 25px;
      }
    }
  }

  .tabs {
    border-bottom: 1px solid $soft-grey;

    .tab {
      flex: 1;

      &:not(:last-child) {
        border-right: 1px solid $soft-grey;
      }
    }
    
    .tab-label {
      font-size: 15px;
    }

    .tab-disabled {
      background-color: $primary-100;
    }
  }

  .tabs-flex {
    display: flex;
    justify-content: space-evenly;
  }

  .table-container {
    width: 100%;
    margin-top: 30px;
    overflow-x: auto;
    border-radius: 5px;
    border: 1px solid $soft-grey;
    background-color: #fff;

    .table-wrapper {
      overflow-x: auto;

      .table {
        min-width: 700px;
      }
    }

    .paper-wrapper {
      height: 400px;
      width: 100%;
      position: relative;
    }

    .creator-badge {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: inherit;
      background-size: cover;
      background-color: $gradient-2;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      & > span {
        text-transform: uppercase;
        color: $white-color;
        font-size: 12px;
      }
    }

    .empty-table {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
    }
  }

  .table-title {
    padding: 15px 56px 12px 24px;
    color: $primary-400;
    border-bottom: 1px solid #D1D1D1;
    font-size: 14px;
  }

  .table-head {
    height: 40px;
    vertical-align: bottom;
  }

  .table-row {
    height: 34px;
    cursor: pointer;
    &:nth-of-type(even) {
      background-color: $primary-050;
    }
  }

  .navigate-btn {
    text-align: end;
    max-width: 55px;
    color: rgba(0, 0, 0, 0.54);
  }

}
