
.api-references-container {
  padding: 80px;
  background-color: $primary-100;

  @media only screen and (max-width: 600px) {
    padding: 80px 20px;
  }

  .api-references-wrapper {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    @media only screen and (max-width: 600px) {
      flex-direction: column-reverse;
    }

    .api-references-apis {
      flex: 1 0 auto;
      padding-right: 60px;
      position: relative;
      @media only screen and (max-width: 600px) {
        padding: 0;
      }

      .api-reference-api {
        position: relative;

        h4 {
          margin: 0;
        }

        .api-references-detail {
          p {
            margin: 5px 5px 0 0;
            display: inline-block;
            opacity: .8;
          }

          .badge {
            display: inline-block;
            margin-left: 10px;
            @media only screen and (max-width: 600px) {
              margin-left: 0;
            }

            .badge-label {
              width: auto;
              padding: 0 10px;
            }
          }
        }

        .api-references-info {
          margin-top: -5px;
          p {
            margin: 0;
            opacity: .8;
          }
          @media only screen and (max-width: 600px) {
            margin-top: 20px;
          }
        }

        .api-reference-title {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          cursor: pointer;
        }

        .api-caret {
          width: 24px;
          height: 24px;
          text-align: center;
          
          @media only screen and (max-width: 600px) {
            margin: 0 -14px -14px 0;
          }
        }
      }
    }
    .api-references-description {
      flex: 0 1 220px;
      text-align: left;

      @media only screen and (max-width: 600px) {
        flex: 1;
      }

      button {
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  .info-link {
    text-decoration: underline;
    cursor: pointer;
  }
}
