
.support-container {
  max-width: 500px;
  margin: auto;
  display: block;

  .info-box {
    padding: 10px;
    background-color: $primary-100;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 100%;
    p {
      padding: 0;
      margin: 0;
    }
  }

  .support-input {
    margin-bottom: 7px;
  }

  .support-input-top {
    margin-top: 12px;
  }

  .support-input-space {
    margin: 25px 0;
  }

  .support-submit {
    width: 120px;
    margin-top: 10px;
  }

  .support-info {
    margin-top: 10px;
    .support-link {
      color: $main-500;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
