.two-fa-recovery,
.two-fa-login {
  max-width: 500px;

  .two-fa-input {
    margin-top: 20px;
  }

  .two-fa-submit {
    width: 120px;
    margin: 20px 0;
  }

  .two-fa-action {
    margin-top: 40px;
    font-size: 14px;
    line-height: 1.5;

    .twofa-link {
      color: $main-500;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .two-fa-sms {
    .send-sms-btn {
      margin-top: 20px;
      display: block;
    }
  }
}
