.portal-section {
  > .section-content {
    display: flex;

    & > p {
      font-size: 16px;
    }

    .portal-cards {
      flex: 1;
      padding-right: 60px;

      .portal-content-item {
        min-height: 450px;
        padding: 25px 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      
        .portal-circle {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          overflow: hidden;
          background-repeat: no-repeat;
          background-position: inherit;
          background-size: cover;
          image-rendering: -webkit-optimize-contrast;
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #9B9B9B;
          margin-bottom: 25px;
          margin: 25px auto;
  
          & > span {
            text-transform: uppercase;
            color: $white-color;
            font-size: 48px;
            letter-spacing: 1.03px;
          }
        }
      }

    }
    .portal-description {
      flex: 0 1 238px;
      text-align: left;
      padding-top: 40px;
      line-height: 30px;
    }
  }

  .portal-content-item {
    min-height: 450px;
    padding: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .portal-section {
    > .section-content {
      flex-direction: column;

      .portal-cards {
        padding-right: 0;
      }

      .portal-description {
        padding: 20px;
      }
    }
  }
}