// TODO: Clean this up - check what's used/needed, and convert it into JSS

.button {
  background-color: #2db7ba;
  border-radius: 5px;
  padding: 6px 12px;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: #fff !important;
  text-align: center;
  position: relative;

  &.orange {
    background-color: #f5a623;
  }

  &.white {
    background-color: #fff;
    color: #131313 !important;
  }

  &.full-width {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.35);
  }

  &:active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  &.disabled {
    cursor: default;
    opacity: 0.8;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  }
}
