.box-input {
  border-radius: 4px;
  padding: 10px !important;
  border: 1px solid $light-color !important;

  &.disabled {
    background: $light-color !important;
  }

  &:focus {
    border: 1px solid $main-color !important;
  }

  &.blue-background {
    background-color: $light-blue;
    color: $white-color;
  }
}

.box-input-error {
  border-radius: 4px;
  padding: 10px !important;
  background: $light-color !important;
  border: 1px solid $light-color !important;

  &:focus {
    border: 1px solid $red-color !important;
  }
}

.bigfont {
  font-size: 26px!important;
  color: $primary-color!important;
}

.light-input {
  color: $white-color !important;
  border: 1px solid $dark-color !important;
  background: $dark-color !important;
}

.endadornement-container {
  padding: 10px 35px 10px 10px !important;
}

.startadornement-container {
  padding: 10px 10px 10px 40px !important;
}

.adornement-icon {
  opacity: 0.5;
  top: 7px;
  position: absolute;
  font-size: 20px !important;

  &.start {
    top: 10px;
    left: 10px;
  }

  &.end {
    right: 10px;
  }

  &:hover {
    cursor: pointer;
  }
}

.form-field-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;

  .root {
    width: 100%;
  }

  .required-symbol{
    color: $red-color;
    padding-left: 10px;

    position: absolute;
    right: -15px;
    bottom: 20px;
  }
}
