
.footer-container {
  position: relative;
  bottom: 0;
  height: auto;
  background-color: $grey;
  color: $white-color;


  .footer-wrapper {
    &.extra-padding {
      padding: 55px 0px 0px;
    }

    .footer-trademark {
      line-height: 18px;
      padding: 20px 0;
      height: 100%;

      .footer-trademark-container {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .footer-logo {
        padding-bottom: 20px;
        img {
          width: 44px;
          height: auto;
        }
      }

      .footer-icons {
        display: flex;
        max-width: 140px;

        .footer-icon {
          width: 28px;
          height: 28px;
          background-color: $primary-500;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-right: 12px;
        }
      }
    }

    .footer-sitemap {
      display: flex;
      max-width: 900px;
      margin: 0 auto;
      padding-bottom: 20px;
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize;
      flex-wrap: wrap;
      justify-content: space-between;

      .footer-sitemap-section {
        padding-bottom: 30px;

        .section-title {
          padding-bottom: 5px;
          cursor: pointer;

          &.disabled-link {
            opacity: 0.2;
            pointer-events: none;
          }
        }
      }

      .footer-sitemap-link {
        font-size: 15px;
        opacity: 0.5;
        display: block;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &.disabled-link {
          opacity: 0.2;
          pointer-events: none;
        }
      }
    }
  }

  &.mini {
    padding: 20px 30px;
    position: absolute;
    width: 100%;
    @media only screen and (max-width: 600px) {
      position: relative;
    }

    .footer-wrapper {

      .footer-fab {
        display: none;
      }

      .footer-trademark {
        margin: 0;
        font-size: .7em;
        opacity: .5
      }

      .footer-sitemap {
        justify-content: flex-end;
        padding-top: 0px;

        .footer-sitemap-section {
          width: auto;
          margin: 0;
          min-width: 0px;
          padding-bottom: 0px;
          opacity: .5;
          display: block;
          text-decoration: none;
          color: inherit;

          &:last-child {
            .section-title {
              border-right: none;
            }
          }

          .section-title {
            font-size: .6em;
            line-height: 1.2em;
            cursor: pointer;
            padding: 0 15px;
            border-right: 1px solid $white-color;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer-sitemap {
    flex-direction: column;
    text-align: center;
  }

  .footer-trademark-container {
    flex-direction: column;

    .footer-icons {
      padding-top: 10px;
    }
  }
}
