.formfield-wrapper {
  position: relative;
  .formfield {
    border-color: #000;
  }
  .formfield-errors {
    color: red;

    &.bottom {
      width: 100%;
      font-size: 13px;
      position: relative;
      font-weight: 400;
    }

    &.right {
      position: absolute;
      top: 0;
      width: 100%;
      left: 105%;
      background-color: red;
      padding: 15px 20px;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);

      &:before {
        content: '';
        position: absolute;
        left: -7px;
        top: 21px;
        width: 15px;
        height: 15px;
        background-color: red;
        transform: rotate(45deg);
      }
    }
    
  }
}
