.apps-container {
  display: flex;
  justify-content: center;
  min-height: inherit;
  background: $soft-grey;
  flex-direction: column;

  .first-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;

    .create-app-image {
      max-width: 445px;
      padding-bottom: 40px;
    }

    .create-app-title {
      padding-bottom: 30px;
    }
  }

  .overview-section {
    padding: 80px 0;
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    width: 100%;

    @media only screen and (max-width: 600px) {
      padding: 60px 20px;
    }

    .section-title {
      padding-bottom: 20px;
    }

    > .section-content {

      .app-cards {
        flex: 1 1 200px;

        .app-card {
          display: flex;
          flex-direction: column;
          min-width: 200px;
          min-height: 200px;
          padding: 20px;
          align-items: center;
        }

        .app-creator {
          border: 2px dashed #CCCCCC;
          border-radius: 0 8px 8px 0;
          justify-content: center;
          cursor: pointer;
          margin: 2px;
          flex: 0 0 223px;

          .app-creator-icon {
            font-size: 40px;
          }
        }
      }
    }
  }

  .explore-section {
    background-color: $white-color;
    min-height: 550px;

    .explore-section-title {
      padding-top: 50px;
      @media only screen and (max-width: 600px) {
        padding: 0;
      }
    }

    .explore-wrapper {
      display: flex;
      max-width: 900px;
      margin: 0 auto;
      flex-direction: column;
      @media only screen and (max-width: 600px) {
        padding: 40px 20px;
      }

      .explore-blocks-container {
        display: flex;
        @media only screen and (max-width: 600px) {
          flex-flow: wrap;
        }

        .explore-block {
          display: flex;
          flex-direction: column;
          flex: 1;
          text-align: left;
          padding: 70px 20px 20px;
          @media only screen and (max-width: 600px) {
            min-width: 300px;
            text-align: center;
            align-items: center;
            padding: 0;
          }

          &:nth-child(2) {
            .explore-block-title {
              color: $light-lime;
            }
          }

          .explore-block-header {
            text-align: left;
            padding-bottom: 20px;
            padding-left: 40px;
            @media only screen and (max-width: 600px) {
              padding: 20px;
            }
          }

          .explore-block-title {
            color: $light-blue;
          }

          .explore-block-footer {
            padding: 20px 0;
            display: flex;
            flex: 1;
            align-items: flex-end;

            .explore-block-action {
              display: flex;
              flex: 1;
              cursor: pointer;
              align-items: center;

              &.disabled {
                opacity: 0.2;
                pointer-events: none;
              }

              span {
                margin-left: 5px;
              }
            }

            .explore-block-badge {
              margin-left: 10px;
            }
          }

          &:last-child {
            border: none;
          }
        }
      }
    }
  }
  .apps-loading {
    text-align: center;
    padding: 100px 0;
    position: absolute;
    top: 29%;
    left: 50%;
    z-index: 10;
  }
}

.create-app-container {

  .create-app-wrapper {

    .create-app-input {
      max-width: calc(100% - 17px);
      width: 100%;
    }

    .api-subscriptions-help {
      padding-top: 30px;
    }

    .create-app-actions {
      padding-top: 30px;
      display: flex;
      align-items: center;

      .create-app-submit {
        width: 120px;
      }

      .create-app-help {
        padding-left: 20px;

        .create-app-link {
          text-decoration: none;
          color: $main-500;
          display: inline-block;
        }
      }
    }

    .create-app-subscriptions {
      padding: 30px 0;
    }

    .create-app-note {
      display: flex;
      font-style: italic;

      .manage-subscriptions-image {
      }
    }
  }
}

.app-detail-container {
  min-height: 100%;
  padding: 40px 0px;
  max-width: 900px;
  margin: 0 auto;

  @media only screen and (max-width: 600px) {
    padding: 40px 20px;
  }

  .separator {
    color: $mid-grey;
    border-top: 1px solid $mid-grey;
    padding: 10px 0px 20px 0px;
    font-size: 18px;
    flex: 1;
    margin-top: 30px;
  }

  .access-details {
    @media only screen and (max-width: 600px) {
      flex-direction: column !important;
      align-items: center;
    }
    .left-container, .additional-options {
      @media only screen and (max-width: 600px) {
        width: 100%
      }
    }
  }

  .app-section {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 600px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    .right-container {
      min-width: 240px;

      @media only screen and (max-width: 600px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .app-icon {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
        image-rendering: -webkit-optimize-contrast;
        background-color: $light-blue;
        display: flex;
        justify-content: center;
        align-items: center;

        & > span {
          text-transform: uppercase;
          color: $white-color;
          font-size: 26px;
        }
      }

      .app-details {
        padding-top: 20px;
        @media only screen and (max-width: 600px) {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .detail-title {
          font-size: 12px;
          color: $mid-grey;

          &.actions {
            padding-top: 20px;
          }
        }

        .detail-value {
          display: flex;
          align-items: center;

          &.underline {
            text-decoration: underline;
          }
        }

        .status-badge {
          width: 12px;
          height: 12px;
          border-radius: 6px;
          background: #F5A623;
          margin-right: 7px;

          &.nonvalidated {
            background: #F5A623;
          }
          &.nontrusted {
            background: #2DB7BA;
          }
          &.trusted {
            background: #15DE2E;
          }
        }

        .buttons-container {
          display: inline-flex;
          flex-direction: column;

          .action-button {
            color: $light-teal;
            margin-bottom: 10px;

            &:disabled {
              border-color: $primary-100;
              color: $primary-100;
            }
          }
        }
      }
    }

    .left-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      max-width: 66%;

      @media only screen and (max-width: 600px) {
        max-width: 100%;
      }

      &.app-wrapper {
        padding-top: 30px;
      }

      & > div {
        padding-bottom: 30px;
      }

      .app-name {
        & > input {
          font-size: 26px;
          color: $primary-color;
        }
      }

      .app-description {
        flex-wrap: wrap;
      }
    }

    .additional-options {
      padding-top: 20px;

      .option-wrapper {
        padding-bottom: 35px;

        .scopes {
          display: flex;
        }

        .options-title {
          font-size: 12px;
          color: $mid-grey;
        }

        .option-link {
          cursor: pointer;
          text-decoration: underline;
          color: $teal-color;
        }
      }

    }
  }
}
