.select-display {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #CCCCCC !important;
  padding: 12px 10px !important;
  max-height: 42px;

  &.disabled {
    background-color: $primary-200;
  }

  &:hover {
    cursor: pointer;
  }
}

.hide-icon {
  display: none !important;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  margin: 5px !important;
}

.chip {
  margin-right: 5px;
}

.select-single {
  max-width: 85%;
  display: inherit;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-icon {
  margin-right: 20px;
}
