.signup-steps-wrapper {
  background: $primary-100;
}

.signup-content,
.signup-success,
.signup-steps,
.signup-activation {
  max-width: 900px;
  text-align: left;
  margin: 0 auto;
  padding: 40px;

  &.header {
    padding: 20px 0;
  }
  @media only screen and (max-width: 600px) {
    .signup-wrapper {
      flex-direction: column-reverse !important;
    }
    .signup-steps-wrapper {
      padding: 0 40px 20px 40px !important;
    }
    .signup-info-content {
      max-width: 100% !important;
      padding: 0 !important;
    }
  }
  .signup-wrapper {
    display: flex;
    flex-direction: row;

    .signup-form {
      flex: 1;
      min-width: 50%;

      .signup-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      .signup-personal-details,
      .signup-invitation {
        max-width: 470px;

        .password-btn {
          min-width: 42px;
          width: 42px;
        }

        .auto-generate-btn {
          padding: 0px;
          margin: 0 10px;
        }

        .signup-join {
          margin-right: 10px;
        }

        .invitation-actions {
          padding-top: 40px;
        }

        .invitation-info {
          font-size: 13px;
          padding-top: 15px;
          max-width: 320px;
        }
      }

      p {
        max-width: 450px;
        padding: 10px 0;
      }

      .signup-input {
        width: 100%;
        max-width: 450px;
      }

      .signup-password {
        + .required-symbol {
          position: relative;
          bottom: 25px;

        }
      }

      .signup-submit {
        font-weight: 400;
        margin-right: 20px;
        min-width: 100px;
      }

      .signup-actions {
        padding-top: 5px;
      }

      .signup-checkboxes {
        margin-bottom: 40px;
        > div {
          margin-bottom: -20px;
        }
      }

      .signup-error {
        color: $red-color;
        font-weight: 400;
        padding-top: 20px;
      }
    }

    .signup-submit-container {
      width: 100%;
      max-width: 450px;
      display: flex;
      align-items: center;
      margin: 20px 20px 40px 0;
    }
  }

  .signup-info-wrapper {
    margin-bottom: 40px;

    .signup-info-content {
      padding: 0 0 0 40px;

      .signup-info-title {
        color: $gradient-4;
        padding-top: 30px;
      }

      .signup-check {
        text-align: center;
        margin-top: 20px;
        margin-left: -50px;
      }

      > h3 {
        color: $teal-color;
      }

      .signup-help {
        display: flex;
        padding-top: 5px;

        span {
          font-size: 14px;
          font-style: italic;
        }
      }
    }
  }
}

.signup-steps {
  padding-top: 0;
}

.signup-success,
.activation-container {
  .signup-success-item {
    display: flex;

    .item-img {
      flex: 0 1 200px;
      flex-shrink: 0;
      padding-top: 20px;
      padding-left: 60px;
    }

    .item-content {
      flex: 1;
      max-width: 450px;

      .item-title {
        margin-bottom: -10px;
        &.profile {
          color: $gradient-0;
        }
        &.security {
          color: $light-teal;;
        }
        &.confirmation {
          color: $gradient-4;
        }
        &.activate {
          color: $primary-400;
        }
      }
    }
  }
}

.signup-loading {
  text-align: center;
  padding: 100px 0;

  > p {
    opacity: .8;
    margin: 40px 0;
  }

}

.checkbox-label {
  margin: auto 0;
}

.resend-link {
  color: $teal-color;
}

.recovery-codes-link {
  color: $main-color;
  text-decoration: underline;
}

.signup-submit {
  margin: 20px 0 40px;

  &.resend {
    color: #fff;
    background-color: $main-color;
    margin-bottom: 30px;
    text-transform: none;
  }
}
